<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532148400047-3423bulqe48tnoutvbnne11r73j41moi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532148400047-3423bulqe48tnoutvbnne11r73j41moi</string>
	<key>API_KEY</key>
	<string>AIzaSyD9qVC3-BhUsrO8LGFFnRgpitAm0hupp4A</string>
	<key>GCM_SENDER_ID</key>
	<string>532148400047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ziad.popin</string>
	<key>PROJECT_ID</key>
	<string>popin-task</string>
	<key>STORAGE_BUCKET</key>
	<string>popin-task.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532148400047:ios:3c37ede13c429c8313895a</string>
</dict>
</plist>